* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}



/* HEADER */
.header {
    background-color: rgb(48, 46, 46);
    color: white;
    margin: 0px;
    padding: 25px;
    text-align: center;
    background-image: linear-gradient(to bottom, rgb(56, 55, 55), rgb(80, 80, 80));
}

.header h1 {
margin: 0px;
}

/* MAIN LAYOUT */



/* SEARCH SECTION */
.search-section {
    background-color: darkgray;
    grid-area: search-section;
    display: flex;
    flex-flow: column;
    padding: 12px;
}

.search-title {
    text-align: center;
    margin-bottom: 0px;
}

.city-search-form {
    padding: 10px;
    margin: 0px 2px;
}

.city-search-form input {
    width: 100%;
    height: 20px;
    padding: 20px 30px;
    border-radius: 5px;
    border: solid 1px lightgray;
    position: relative;
    margin-top: 10px;
}

.search-btn {
    position: absolute;
    margin-left: -35px;
    height: 62px;
    border: none;
    background-color: transparent;
    color:rgb(107, 107, 107);
    font-size: 25px;
}

.search-btn:hover {
    color: darkslategray;
    cursor: pointer;
}

.city-search-list {
    list-style: none;
    padding: 10px;
}

.city-btn {
    padding: 10px;
    margin: 0px 2px;
    width:100%;
}

.city-btn:hover {
    cursor: pointer;
    background-color: darkslategray;
    color: white;
}


/* WEATHER OVERVIEW SECTION */
.weather-overview {
    grid-area: weather-overview;
    display: flex;
    flex-flow: column;
    padding: 0px 22px;
    border: solid 2px lightgray;
    border-radius: 3px;
    margin: 10px;
    justify-content: space-around;
    min-height: 275px;
}

.overview-title {
    text-align: center;
    /* padding: 20px 0px; */
    color: rgb(59, 59, 59);
}

/* FORECAST SECTION */
.forecast {
    display: block;
    /* margin:auto; */
}

.forecast-title {
    text-align: center;
    padding: 10px;
}

.forecast-cards {
    display: block;
}

.forecast-card {
    flex-flow: wrap ;
    padding: 25px;
    background-color: rgb(5, 105, 255);
    color: white;
    margin: 10px;
    width: 100%;
    border-radius: 3px;
    box-shadow: 3px 3px 3px black;
}

/* MEDIA QUERY FOR SMALLER DESKTOP SCREENS AND SMALLER */
@media screen and (min-width: 750px) {
    .main-grid {
        display: grid;
        gap:5px;
        grid-template-columns: 1fr 2fr;
        grid-template-rows: 1fr 3fr;
        grid-template-areas:
        "search-section weather-overview"
        "search-section forecast";
        padding:0px 10px;
        width: auto;
    }

    .forecast-cards {
        width: 100%;

    }
}

/* MEDIA QUERY FOR SMALLER DESKTOP SCREENS AND SMALLER */
@media screen and (min-width: 1100px) {
    .forecast-cards {
        display: flex;
    }

    .overview-title {
        text-align: left;
    }

    .forecast-title {
        text-align: left;
    }
}